@import "./variables/vars";
@import "./mixins/mixins";

.loading__icon img {
  @include respond-to(320px) {
    @include size(40px, 40px);
  }
  @include respond-to(1000px) {
    @include size(100px, 100px);
  }
  animation: rota 1s linear infinite;
}

@keyframes rota {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
